
*{
   
    font-family: Roboto;
    color:azure;

  
}


body{
    display: flex;
    flex-direction: row;
   align-items: center;
    height: 100vh;
    background-color: black;
}
.headertext{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main-box{
color:wheat;
  display: grid;
  grid-template-columns: 1fr 50fr;
  align-items: center;    

}

.imageDiv{
width: clamp(35%,150px,35%);
height: 100%;
background-color: black;
flex-shrink: 0;
position: relative;
max-width: 500px;
}

.logoDiv{
    width: 100%;
  
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
}

.logo{
z-index: 2;
    width: 70%;
}

.bg-img{
   z-index: 0;
    width: auto;
  height: 100%;


  filter: blur(3px);
  
}

.info{
    position: absolute;
    bottom: 0px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.registerMainDiv{
    
    display: flex;
    position:relative;
    z-index: 100;
    flex-direction: row;
    background-color: black;
    align-items: center;
    height: auto;

}

.poster{
  z-index: 100;
    height: 80%;
}


.registerDiv
{
  position:relative;
 z-index: 99;
display: flex;
flex-direction: column;
justify-content: center;
padding: 90px;
background-color: black;
flex:2;
height: 80%;
}

.bmw-min{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.registerBox{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}


input {
    background: 0;
    border: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;
  
    &:focus {
      padding-bottom: 5px;
    }
  
   
    &:focus + .line {
      &:after {
        transform: scaleX(1);
      }
    }
  }
  
  .field {
    position: relative;
    margin-bottom: 20px;

  
    .line {
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: -8px;
      background: #bdc3c7;
  
      &:after {
        content: " ";
        position: absolute;
        float: right;
        width: 100%;
        height: 3px;
        
        transform: scalex(0);
        transition: transform 0.3s ease;
        
        background: hsl(240, 100%, 50%);
      }
    }
  }


.checkboxDiv{
  
    margin-top: 20px;
}

  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
     
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
    input[type='radio'] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, .7));
      }
      &:checked {
        --s: .5;
      }
    }
  }
  





  @font-face {
    font-family: "Mona Sans";
    src: url("https://assets.codepen.io/64/Mona-Sans.woff2")
        format("woff2 supports variations"),
      url("https://assets.codepen.io/64/Mona-Sans.woff2")
        format("woff2-variations");
    font-weight: 100 1000;
  }
  
  @layer properties {
    @property --bg-position {
      syntax: "<number>";
      inherits: true;
      initial-value: 100;
    }
    @property --after-blur {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }
    @property --after-opacity {
      syntax: "<number>";
      inherits: true;
      initial-value: 1;
    }
    @property --before-opacity {
      syntax: "<number>";
      inherits: true;
      initial-value: 0.3;
    }
    @property --btn-offset {
      syntax: "<number>";
      inherits: true;
      initial-value: 1;
    }
    @property --btn-scale {
      syntax: "<number>";
      inherits: true;
      initial-value: 1;
    }
  }
  
  :root {

  
    /* colors */
    --body-bg: hsl(0, 0%, 6%);
    --btn-bg: hsl(0, 0%, 0%);
    --btn-border-width: 1.5;
    --btn-offset: 1;
    --btn-scale: 1;
    --after-bg: linear-gradient(
      to right,
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0),
      rgb(0 0 0)
    );
    --after-blur: 10;
    --after-opacity: 1;
    --after-pos-y: 10;
    
    --before-opacity: 0.3;
  
    /* positions */
    --bg-position: 100;
  
    --color-white: hsl(0, 0%, 100%);
    --color-cyan: hsl(180, 100%, 50%);
    --color-blue: hsl(240, 100%, 50%);
    --color-purple: hsl(270, 100%, 50%);
    --color-pink: hsl(330, 40%, 70%);
    --color-red: hsl(0, 100%, 50%);
    --color-yellow: hsl(60, 100%, 50%);
    --color-lime: hsl(90, 100%, 75%);
  
    --color-orange: oklch(69.1% 0.223 36.85);
  }
  
  @supports (color: color(display-p3 0 0 0)) {
    :root {
      --color-white: color(display-p3 1 1 1);
      --color-cyan: color(display-p3 0 1 1);
      --color-blue: color(display-p3 0 0 1);
      --color-purple: color(display-p3 0.5 0 1);
      --color-pink: color(display-p3 1 0.4 0.7);
      --color-red: color(display-p3 1 0 0);
      --color-yellow: color(display-p3 1 1 0);
      --color-lime: color(display-p3 0.75 1 0);
  
      --color-orange: color(display-p3 0.96 0.39 0.2);
    }
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    outline: calc(var(--debug) * 1px) dotted red;
    outline-offset: -1px;
  }
  
 

button {
        
      all: unset;
      background: transparent;
      border-width: 0;
      transform: scale(var(--btn-scale));
      transition: 
          --bg-position 3s ease, 
          --after-blur 0.3s ease,
          --before-opacity 0.3s ease,
          --btn-offset 0.3s ease,
          --btn-scale 0.2s cubic-bezier(.76,-0.25,.51,1.13);
  
      > div {
        display: block;
        padding: 0.8em 1.2em;
        background: var(--btn-bg);
        color: white;
        font-weight: bold;
        border-radius: 8px;
        font-size: 22px;
        position: relative;
        margin-top: 20px;
    
        cursor: pointer;
  
        &:not(:hover) {
          transition: --after-blur 0.3s ease;
        }
  
        > span {
          background: linear-gradient(
              to right,
              var(--color-white),
              var(--color-white),
              var(--color-blue),
              var(--color-purple),

              var(--color-white),
              var(--color-white)
            )
            no-repeat calc(var(--bg-position) * 1%) 0% / 900%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          letter-spacing: 0.15ch;
          font-weight: 600;
        }
  
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: var(--after-bg) no-repeat calc(var(--bg-position) * 1%) 0% /
            900%;
          transform: translateY(calc(var(--after-pos-y) * 1px));
          left: 0;
          top: 0;
          z-index: -2;
          filter: blur(calc(var(--after-blur) * 1px));
          opacity: var(--after-opacity);
        }
  
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: calc(100% + calc(calc(var(--btn-border-width) * 2) * 1px));
          height: calc(100% + calc(calc(var(--btn-border-width) * 2) * 1px));
          background: linear-gradient(
              to right,
              var(--color-blue),
              var(--color-blue),
              var(--color-white),
              var(--color-cyan),
              var(--color-blue),
              var(--color-purple),
            var(--color-white),
              var(--color-white)
            )
            no-repeat calc(var(--bg-position) * 1%) 0% / 900%;
          border-radius: 9px;
          z-index: -1;
          top: calc(var(--btn-border-width) * -1px);
          left: calc(var(--btn-border-width) * -1px);
          opacity: var(--before-opacity);
        }
      }
  
      &:hover {
        --btn-scale: 1.05;
        --bg-position: 0;
        --after-bg: linear-gradient(
            to right,
            var(--color-blue),
            var(--color-blue),
            var(--color-white),
            var(--color-cyan),
            var(--color-blue),
            var(--color-purple),
            var(--color-pink),
            var(--color-lime),
            var(--color-blue),
            var(--color-white),
            var(--color-white),
          );
          --after-blur: 30;
          --after-opacity: 0.3;
          --after-pos-y: 0;
          --before-opacity: 1;      
          --btn-offset: 5;
        
        &:active {
          --btn-scale: 0.98;
          --after-blur: 15;
        }
      }
    }
  
